@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
   box-sizing: border-box;
}

body {
   color: #fff;
   font-family: 'Khula', sans-serif;
   height: 100vh;
   overflow: hidden;
   margin: 0;
   text-align: center;
   background-image: url('img/Akali.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

a {
   color: #fff;
   text-decoration: none;
}

a:hover {
   color: #e31616;
}

.start {
   font-size: 2rem;
}

h1 {
   line-height: 1.4;
   font-size: 4rem;
}

.screen {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   transition: margin 0.5s ease-out;
}

.screen.up {
   margin-top: -100vh;
}

.time-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   list-style: none;
   padding: 0;
}

.time-list li {
   margin: 10px;
}

.time-btn {
   background-color: transparent;
   border: 2px solid #c0c0c0;
   color: #fff;
   cursor: pointer;
   font-family: inherit;
   padding: 0.5rem 1rem;
   font-size: 1.5rem;
}

.time-btn:hover {
   border: 2px solid #e31616;
   color: #e31616;
}

.hide {
   opacity: 0;
}

.primary {
   color: #e31616;
}

.board {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 80%;
   height: 75%;
   background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%, 40%);
   box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
   border-radius: 30px;
   overflow: hidden;
   margin-bottom: 20px;
}

.circle {
   background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
   position: absolute;
   border-radius: 50%;
   cursor: pointer;
}
